<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="testscripts.Tstcase1"/>
      <class name="testscripts.Tstcase2"/>
      <class name="testscripts.Tstcase3"/>
      <class name="testscripts.Tstcase4"/>
      <class name="testscripts.Tstcase5"/>
      <class name="testscripts.Tstcase6"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
